Source: ros-noetic-ddwrt-access-point
Section: misc
Priority: optional
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-access-point-control, ros-noetic-catkin, ros-noetic-dynamic-reconfigure, ros-noetic-ieee80211-channels, ros-noetic-rospy
Homepage: http://ros.org/wiki/ddwrt_access_point
Standards-Version: 3.9.2

Package: ros-noetic-ddwrt-access-point
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-access-point-control, ros-noetic-dynamic-reconfigure, ros-noetic-ieee80211-channels, ros-noetic-rospy
Description: A ROS node that controls a Linksys WRT610Nv2 access point with a dd-wrt firmware.
 Other access points models/dd-wrt versions may be compatible as long as the web interface is identical.
